<nav class="amber darken-2">
  <div class="container">
    <a href="/" class="brand-logo" id="search-header">Beer On Tap</a>
  </div>
</nav>
<br>
<div class="container" id="search-div">
  <form action='/search' method='GET'>
    <input placeholder="Enter Beer" type="text" name="beer" />
    <button class="btn waves-effect waves-light amber darken-2" id="beer-search">Search</button>
  </form>
  <br>

  <% if @beers %>
    <div class="row">
    <% @beers.each do | beer | %>
      <div class="col s12 m6">
        <div class="card large">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%= beer[:label] %>" />
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= beer[:name] %></span>
            <p id="beer-abv"><em>ABV:</em> <%= beer[:abv] %></p>
            <p id="beer-type"><%= beer[:style] %></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= beer[:name] %><i class="material-icons right">X</i></span>
            <p id="beer-desc"><em>Description:</em><br><%= beer[:description] %></p>
            <p id="beer-type-desc"><em>More about <%= beer[:style] %>:</em><br><%= beer[:styleInfo] %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% else %>
    <div>
      <img id= "no-beer" src="/img/no_beer.png" />
      <p>Sorry we don't have this beer in our database.</p>
    </div>
  <% end %>
</div>
